html {
	box-sizing: border-box;
}

*,
:after,
:before {
	box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

:root {
    --hlavni-barva: #F03000;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    display: inline-block;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-item a, .nav-item__button a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--hlavni-barva)
}
  
.nav-item__button {
      border: 1px solid var(--hlavni-barva);
      background-color: var(--hlavni-barva);
}

.nav-item__button a {
    color: white;
}
  
.logo img {
    width: 175px;
    vertical-align: middle;
}

.teaser__main--left{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    padding: 0 60px 0 60px;
}

.article__main--left {
    grid-column: 1;
    grid-row: 1/3;
    border: solid 2px greenyellow;
    background-image: url(podklady/palmy.jpg);
    background-repeat: no;
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: left;
    padding: 250px 0px 0px 20px ;
}
.article__side-top--right {
    grid-column: 2;   
    grid-row: 200px; 
    border: solid 2px pink;
    background-image: url(podklady/jezero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 15px;
}

.article__side-bottom--right{
    grid-column: 2;
    grid-row: 200px;
    border: solid 2px blue;
    background-image: url(podklady/nakole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 15px;
}

.article__main_price--left p, 
.article__side_price--right--top p, 
.article__side_price--right--bottom p, 
.article__side-bottom--left
 {
    border: 1px solid var(--hlavni-barva);
    background-color: var(--hlavni-barva);
    display: inline;
    padding: 5px;
}

.article__main_price--left {
    position: relative;
    bottom: 230px;
}

.article__side_price--right--bottom {
    position: relative;
    bottom: 100px;
}
.article__side_price--right--top {
    position: relative;
    bottom: 100px;
}

.multiple-CTA {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 60px 0 60px;
    text-align: center;
}

.multiple-CTA h3 {
    color: var(--hlavni-barva);
    padding: 5px;
    font-size: 15px;
}

.multiple-CTA--first, 
.multiple-CTA--second, 
.multiple-CTA--third, 
.multiple-CTA--fourth
 {
    background-color: rgb(220,220,220);
    padding: 10px;
}

.title {
    padding: 20px 0px 0px 60px;
}

.teaser__main--right {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    padding: 0 60px 0 60px;
}

.article__main--right {
    grid-column: 2;
    grid-row: 1/3;
    border: solid 2px greenyellow;
    background-image: url(podklady/lodicka.jpg);
    background-repeat: no;
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: left;
    padding: 250px 0px 0px 20px ;
}

.article__side-top--left {
    grid-column: 1;
    grid-row: 200px;
    border: solid 2px blue;
    background-image: url(podklady/podkova.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 15px;
}

.article__side-bottom--left {
    grid-column: 1;
    grid-row: 200px;
    border: solid 2px blue;
    background-image: url(podklady/nakole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 15px;
}


.multiple-CTA__down {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 20px;
    padding: 20px 60px 0 60px;
    text-align: left;
} 

.multiple-CTA__down h3 {
    color: var(--hlavni-barva);
    padding: 5px;
    font-size: 13px;
}

.multiple-CTA__down p {
    font-size: 13px;
}

.multiple-CTA__first--down, 
.multiple-CTA__second--down, 
.multiple-CTA__third--down {
    background-color: rgb(220,220,220);
    padding: 10px;
}

.multiple-CTA__subtitle--down, 
.multiple-CTA__date--down {
    padding-left: 5px
}

.multiple-CTA__date--down {
    color: grey;
    font-weight: bold;
}

.footer {
    text-align: center;  
    background-color: rgb(48,48,48);
    padding: 10px;
    color: white;
}